#location-found-txt {
  font-weight: 250;
  /* margin: 20px 8px; */
}

#location-found-col {
  padding: 0;
}

@media (min-width: 0px) {
  #location-found-txt {
    margin: 20px 0px 20px 10px;
  }
}

@media (min-width: 576px) {
  #location-found-row {
    margin-top: 24px;
    margin-bottom: 12px;
  }

  #forecast-display-row {
    margin-top: -10px;
    margin-right: -30px;
  }

  #location-found-txt {
    margin-left: 0;
  }
}

@media (min-width: 992px) {
  #location-found-row {
    margin-top: 48px;
  }
}