.weather-card {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 15px 15px 5px;
  border-radius: 20px;
  background-color: #08bae8;
  color: white;
}

.weekday-txt {
  font-size: 36px;
}

.date-txt {
  font-size: 16px;
  margin-top: -8px;
}

.icon-col {
  padding: 0 12px;
}

.icon-txt {
  font-size: 16px;
}

.temp-col {
  padding: 0 12px;
}

.temp-high-txt,
.temp-low-txt {
  padding: 0;
}

.temp-high-txt {
  font-size: 36px;
  font-weight: 400;
}

.temp-low-txt,
.slash-txt {
  font-size: 24px;
}

@media (min-width: 0px) { 
  .forecast-col {
    padding: 0;
  }

  .weekday-col {
    text-align: left;
  }

  .icon-col {
    min-width: 100px;
  }

  .temp-col {
    text-align: right;
  }

  .weekday-col,
  .icon-col,
  .temp-col {
    padding: 0;
  }
  
}

@media (min-width: 576px) {
  .forecast-col {
    padding: 10px 10px 0 0;
  }
  
  .weather-card {
    margin: 0;
    padding: 0px;
  }

  .weekday-col,
  .icon-col,
  .temp-col {
    text-align: center;
  }

  .icon-col {
    margin-top: 20px;
  }
}





/* ICONS */
i[class^='icon-'] {
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  font-size: 48px;
}

i.icon-clear::before {
  content: '\e909';
}

i.icon-rain::before {
  content: '\e902';
}

i.icon-snow::before {
  content: '\e901';
}

i.icon-sleet::before {
  content: '\e900';
}

i.icon-wind::before {
  content: '\e90c';
}

i.icon-fog::before {
  content: '\e90d';
}

i.icon-cloudy::before {
  content: '\e903';
}

i.icon-partly-cloudy::before {
  content: '\e906';
}
