@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?rlxv1e');
  src:  url('../fonts/icomoon.eot?rlxv1e#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?rlxv1e') format('truetype'),
    url('../fonts/icomoon.woff?rlxv1e') format('woff'),
    url('../fonts/icomoon.svg?rlxv1e#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  font-size: 48px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sleet:before {
  content: "\e900";
}
.icon-snow:before {
  content: "\e901";
}
.icon-rain:before {
  content: "\e902";
}
.icon-cloudy:before {
  content: "\e903";
}
.icon-partly-cloudy:before {
  content: "\e906";
}
.icon-clear:before {
  content: "\e909";
}
.icon-fog:before {
  content: "\e90d";
}
.icon-wind:before {
  content: "\e90c";
}
